*~
*.pyc
*.wpr
*.wpu
data/encode*
data/genomes/hg19.fa*
data/roadmap*
data/sample_beds.txt
data/subsets
data/models/*.th
src/.ipynb_checkpoints
tutorials/*.bed
tutorials/*.fa
tutorials/*.h5
tutorials/*.txt
tutorials/infl_out
tutorials/motifs_out
tutorials/sad
tutorials/satmut
tutorials/satmut_hox
tutorials/test_out
tutorials/.ipynb_checkpoints
