*~
*.pyc
*.wpr
*.wpu
data/DNase/encode*
data/DNase/genomes/hg19.fa*
data/DNase/roadmap*
data/DNase/sample_beds.txt
data/invitro/hNRs/*.rar
data/invitro/hbZIPs/*.rar
data/models/*.th
src/.ipynb_checkpoints
src/models/checkpoints/*.pkl
*.DS_Store
